// Estilos generales para elementos comunes de la web que puedan variar

// Importaciones de variables
@use "../theme/typography" as typo;
@use "../theme/color-palette" as color;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;

body {
	background-color: color.$bg;

	font-family: typo.$fm, sans-serif;
	line-height: 1.5;
	font-size: typo.$fs-regular;
	font-weight: typo.$fw-regular;
	color: color.$text;
}

h1,
h2,
h3 {
	line-height: 1.2;
	font-size: typo.$fs-big;
	font-weight: typo.$fw-medium;
	text-wrap: balance;
}
h1 {
	font-weight: typo.$fw-bold;
}

h3 {
	font-size: typo.$fs-medium;
}

p {
	max-width: 70ch;
	margin: space.$space-xs 0;

	line-height: 1.5;
	font-size: typo.$fs-regular;
	font-weight: typo.$fw-regular;
	text-wrap: pretty;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
textarea {
	font-family: inherit;
	font-size: typo.$fs-regular;
	color: inherit;

	&:focus {
		outline: none;
	}
}

button {
	font-family: inherit;
	font-size: typo.$fs-regular;
	font-weight: typo.$fw-medium;
	color: inherit;

	&:hover {
		cursor: pointer;
	}
}
