// Estilos generales para elementos comunes de la web que puedan variar

// Importaciones de variables
@use "../theme/typography" as typo;
@use "../theme/color-palette" as color;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;
@use "../layout/breakpoints" as breakpoint;

body {
	background-color: color.$bg;

	font-family: typo.$fm, sans-serif;
	line-height: 1.5;
	font-size: typo.$fs-regular;
	font-weight: typo.$fw-regular;
	color: color.$text;

	@include breakpoint.breakpoint("small") {
		font-size: typo.$fs-dsk-regular;
	}
}

h1,
h2,
h3 {
	line-height: 1.2;
	font-size: typo.$fs-big;
	font-weight: typo.$fw-medium;
	text-wrap: balance;

	@include breakpoint.breakpoint("small") {
		font-size: typo.$fs-dsk-big;
	}
}
h1 {
	font-size: typo.$fs-huge;
	font-weight: typo.$fw-bold;
}
h3 {
	font-size: typo.$fs-medium;
	@include breakpoint.breakpoint("small") {
		font-size: typo.$fs-dsk-medium;
	}
}

p {
	margin: space.$space-xs 0;

	line-height: 1.5;
	font-size: typo.$fs-regular;
	font-weight: typo.$fw-regular;
	text-wrap: pretty;

	@include breakpoint.breakpoint("small") {
		font-size: typo.$fs-dsk-regular;
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
textarea {
	font-family: inherit;
	font-size: typo.$fs-regular;
	color: inherit;

	&:focus {
		outline: none;
	}
}

button {
	font-family: inherit;
	font-size: typo.$fs-regular;
	font-weight: typo.$fw-medium;
	color: inherit;

	&:hover {
		cursor: pointer;
	}
}

.mainModule {
	display: grid;
	gap: space.$space-lg;
	scroll-margin-top: space.$space-xxl;

	@include breakpoint.breakpoint("small") {
		scroll-margin-top: space.$space-xxxl;
	}
}
