@use "../theme/color-palette" as color;
@use "../theme/typography" as typo;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;
@use "../layout/breakpoints" as breakpoint;

.contact {
	&__title {
		text-align: center;
	}

	// Formulario
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: space.$space-sm;

		&-fieldset {
			padding: space.$space-md;
			border: border.$bw-md solid color.$text;
			border-radius: border.$br-md;

			@include breakpoint.breakpoint("small") {
				width: 100%;
			}
		}
		&-legend {
			margin-inline: auto;
			font-weight: typo.$fw-bold;
		}
		&-data {
			margin-bottom: space.$space-xs;
			display: grid;
			gap: space.$space-xs;
		}
		input,
		textarea {
			background-color: color.$bg;
			padding: space.$space-xxs;
			border: border.$bw-md solid color.$text;
			border-radius: border.$br-sm;
		}

		&-btn {
			background-color: color.$main;
			color: color.$bg;

			width: 150px;
			height: 50px;
			padding: space.$space-xs space.$space-md;
			border: none;
			border-radius: border.$br-md;
		}
	}
}
