@use "../theme/color-palette" as color;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;
@use "../util/mixins" as mxn;
@use "../layout/breakpoints" as breakpoint;

.exp {
	&__deck {
		display: grid;
		gap: space.$space-md;
	}

	&__card {
		@include mxn.card();

		&-header {
			@include breakpoint.breakpoint("small") {
				padding-block: 0;
				padding-inline: space.$space-lg;
				place-items: center;
			}
		}
		@include breakpoint.breakpoint("small") {
			grid-template-columns: 1fr auto;
		}
	}
}
