@use "../theme/spacing" as space;
@use "../util/functions" as fn;
@use "../util/mixins" as mxn;

.formation {
	&__deck {
		display: grid;
		gap: space.$space-md;
	}

	&__card {
		@include mxn.card();

		&-header {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
