@use "../theme/spacing" as space;
@use "../util/functions" as fn;
@use "../util/mixins" as mxn;
@use "../layout/breakpoints" as breakpoint;

.formation {
	&__deck {
		display: grid;
		gap: space.$space-md;
	}

	&__card {
		@include mxn.card();

		&-header {
			display: flex;
			flex-direction: column;
			align-items: center;

			@include breakpoint.breakpoint("small") {
				padding-block: 0;
				padding-inline: space.$space-lg;
			}
		}

		@include breakpoint.breakpoint("small") {
			grid-template-columns: 1fr auto;
		}
	}
}
