@use "../theme/color-palette" as color;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;
@use "../util/mixins" as mxn;

.projects {
	&__deck {
		display: grid;
		gap: space.$space-md;
	}
	&__card {
		@include mxn.card();
		&-actions {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}

		// &-preview
		// &-info
	}
}
