@use "../theme/typography" as typo;
@use "../theme/color-palette" as color;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;
@use "../util/functions" as fn;

.profile {
	padding-block: space.$space-md;
	gap: space.$space-sm;

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: space.$space-md;
	}
	&__pic {
		overflow: hidden;
		width: fn.pxToRem(150);
		&-img {
			border-radius: border.$br-full;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: space.$space-md;
	}
	&__title {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: space.$space-xxs;
	}
	&__name {
		font-size: typo.$fs-huge;
	}
	&__profession {
		font-size: typo.$fs-medium;
		font-style: italic;
	}
	&__network {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;

		&-icon {
			font-size: typo.$fs-big;
		}
	}

	&__quote {
		font-style: italic;
		text-align: center;
		& p {
			font-weight: typo.$fw-medium;
		}
	}
}
