@use "../theme/typography" as typo;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;

.profile {
	&__header {
		display: flex;
		flex-direction: column;
		gap: space.$space-md;
	}

	&__title {
		font-weight: typo.$fw-bold;
		text-align: center;
	}
	&__aka {
		font-style: italic;
	}
	&__pic {
		overflow: hidden;
		&-img {
			border-radius: border.$br-full;
		}
	}
	&__network {
		padding: space.$space-md;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;

		&-icon {
			font-size: typo.$fs-big;
		}
	}

	&__quote p {
		font-style: italic;
		text-align: center;
		font-weight: typo.$fw-medium;
	}
}
