@use "../util/functions" as fn;
@use "../theme/color-palette" as color;
@use "../theme/typography" as typo;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;
@use "../layout/breakpoints" as breakpoint;

.skills {
	&__deck {
		background-color: color.$text;
		padding: space.$space-md;
		border-radius: border.$br-lg;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		place-items: center;
		gap: space.$space-xs;
	}

	&__card {
		display: grid;
		place-items: center;
		gap: space.$space-xxs;
		cursor: pointer;

		&-logo {
			width: fn.pxToRem(40);
		}

		&-name {
			font-size: typo.$fs-small;
			color: color.$bg;
		}
	}

	@include breakpoint.breakpoint("small") {
		&__deck {
			width: fit-content;
			margin-inline: auto;

			display: grid;
			grid-template-columns: repeat(6, 1fr);
			place-items: center;
			gap: space.$space-lg;
		}
		&__card {
			&-logo {
				width: fn.pxToRem(60);
			}
		}
	}
}
