@use "../theme/color-palette" as color;
@use "../theme/typography" as typo;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;
@use "../layout/breakpoints" as breakpoint;

.header {
	background-color: color.$main;
	width: 100%;
	border-bottom: border.$bw-md solid color.$text;

	position: fixed;
	top: 0;
	left: 0;
}

.nav {
	width: min(calc(100% - 40px), 56rem);
	margin-inline: auto;

	&__btn {
		width: fit-content;
		font-size: typo.$fs-big;
		@include breakpoint.breakpoint("small") {
			display: none;
		}
	}
	&__icon {
		aspect-ratio: 1 / 1;
		color: color.$bg;
	}

	&__menu {
		padding-block: space.$space-md;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: space.$space-md;

		&--hidden {
			display: none;
			@include breakpoint.breakpoint("small") {
				display: flex;
			}
		}

		@include breakpoint.breakpoint("small") {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__link {
		font-weight: typo.$fw-bold;
		color: color.$bg;
		animation: color 3s ease-in-out;

		&:hover {
			color: color.$acc;
			text-decoration: underline;
		}
	}
}
