@use "../theme/color-palette" as color;
@use "../theme/typography" as typo;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;

.header {
	background-color: color.$bg;
	width: min(calc(100% - 40px), 56rem);
	margin-inline: auto;

	position: fixed;
	top: 0;
}

.nav {
	padding-inline: space.$space-xs;
	border-bottom: border.$bw-md solid color.$text;
	box-shadow: 0 0 space.$space-xxs 0 color.$text;

	&__btn {
		width: fit-content;
		font-size: typo.$fs-big;
	}
	&__icon {
		aspect-ratio: 1 / 1;
	}

	&__menu {
		background-color: color.$bg;
		padding-block: space.$space-md;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: space.$space-md;
	}
	&__menu--hidden {
		display: none;
	}

	&__link {
		font-weight: typo.$fw-bold;
	}
}
