// Variables relacionadas a los colores

// Main Palette
$bg: #e3f2fd;
$main: #0d47a1;
$sec: #1e88e5;
$acc: #bf0a30;
$text: $main;

// State / Alert
$exit: #4caf50;
$error: #ff5252;
$warning: #ffeb3b;
$info: #2196f3;
