// Variables relacionadas al texto y tipografía
@use "../util/functions" as fn;

$fm: "Inter";

$fs-small: fn.pxToRem(12);
$fs-regular: fn.pxToRem(16);
$fs-medium: fn.pxToRem(20);
$fs-big: fn.pxToRem(24);

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
