// Bloques de estilos reutilizables

@use "../theme/color-palette" as color;
@use "../theme/spacing" as space;
@use "../theme/borders" as border;
@use "../layout/breakpoints" as breakpoint;

@mixin card() {
	border: border.$bw-md solid color.$text;
	border-radius: border.$br-md;
	display: grid;
	gap: space.$space-md;
	overflow: hidden;
	@include breakpoint.breakpoint("small") {
		grid-template-columns: 1fr auto;
	}

	&-header {
		background-color: color.$main;
		padding-block: space.$space-sm;
		color: color.$bg;

		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: space.$space-xs;

		@include breakpoint.breakpoint("small") {
			width: 250px;
		}
	}

	&-details {
		padding-inline: space.$space-md;
		@include breakpoint.breakpoint("small") {
			padding-block: space.$space-md;
		}
	}
}
